/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.Ds_Store
.phpstorm.meta.php
_ide_helper.php

/public/*
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/mix-manifest.json
!/public/robots.txt
!/public/vendor
