/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.Ds_Store
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.phpunit.cache

/public/*
!/public/vendor
!/public/.htaccess
!/public/android-chrome-192x192.png
!/public/android-chrome-512x512.png
!/public/apple-touch-icon.png
!/public/browserconfig.xml
!/public/favicon.ico
!/public/favicon-16x16.png
!/public/favicon-32x32.png
!/public/index.php
!/public/mix-manifest.json
!/public/mstile-150x150.png
!/public/robots.txt
!/public/safari-pinned-tab.svg
!/public/site.webmanifest

