// user-variables.scss
// Use this to overwrite Bootstrap and Front variables
//



// General
$prefix:            zn-;
$grid-columns:      24;
$grid-gutter-width: 1.5rem;
$spacer:            1rem;
$border-width:      2px;

$zenon-green:   #6FF34D;
$zenon-blue:    #0061EB;
$plasma-pink:   #F91690;
$syrius-pink:   #00D557;
$intergalactic-black: #151515;

$white:         #fff;
$gray-100:      #f3f6ff;
$gray-200:      #eff2fc;
$gray-300:      #e2e5f1;
$gray-400:      #d4d7e5;
$gray-500:      #b4b7c9;
$gray-600:      #9397ad;
$gray-700:      #565973;
$gray-800:      #33354d;
$gray-900:      #0b0f19;
$black:         #000;

$gray-light:    #292829;
$gray-dark:     #191818;

$border-width:       2px;
$border-color:       $gray-300;
$border-light-color: rgba($white, .14);

$border-radius:      .375rem;
$border-radius-lg:   .5rem;
$border-radius-sm:   .25rem;
$border-radius-pill: 50rem;

$tooltip-max-width: 1000px;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

// Theme colors
//$primary:       #6366f1;
$primary:       #4277FF;
$secondary:     $gray-200;
$info:	        #4c82f7;
$success:       #22c55e;
$warning:       #ffba08;
$danger:        #ef4444;
$light:         $white;
$dark:          $intergalactic-black;

// Bootstrap's $theme-colors map
$theme-colors: (
    'primary':      $primary,
    'secondary':    $secondary,
    'success':      $success,
    'info':         $info,
    'warning':      $warning,
    'danger':       $danger,
    'light':        $light,
    'dark':         $dark,
    'zenon-green':  $zenon-green,
    'zenon-blue':   $zenon-blue,
);

// Faded colors map
$theme-faded-colors: (
    'primary':      rgba($primary, .12),
    'success':      rgba($success, .12),
    'info':         rgba($info, .12),
    'warning':      rgba($warning, .12),
    'danger':       rgba($danger, .12),
    'light':        rgba($light, .05),
    'dark':         rgba($dark, .12),
    'zenon-green':  rgba($zenon-green, .12),
    'zenon-blue':   rgba($zenon-blue, .12)
);

// Border colors map
$border-colors: (
    'primary': rgba($primary, .35),
    'success': rgba($success, .35),
    'info':    rgba($info, .35),
    'warning': rgba($warning, .35),
    'danger':  rgba($danger, .35),
    'light':   rgba($white, .14),
    'dark':    rgba($dark, .35),
    'white':   rgba($white, .35),
    'zenon-green':  rgba($zenon-green, .35),
    'zenon-blue':   rgba($zenon-blue, .35)
);

// Button colors map
$button-faded-colors: (
    'primary': darken($primary, 20%),
    'success': darken($success, 20%),
    'info':    darken($info, 20%),
    'warning': darken($warning, 20%),
    'danger':  darken($danger, 20%),
    'light':   darken($white, 20%),
    'dark':    darken($dark, 20%),
    'white':   darken($white, 20%),
    'zenon-green':  darken($zenon-green, 20%),
    'zenon-blue':   darken($zenon-blue, 20%)
);


// Body
//$body-dark-mode-bg:                         $gray-light;
$body-color:                                $gray-700;
$body-bg:                                   $white;
$text-muted:                                var(--#{$prefix}gray-600);

$body-dark-mode-color:                      rgba($white, .7);
//$body-dark-mode-bg:                         $gray-900;
$body-dark-mode-bg:                         $gray-light;

$dropdown-bg: $gray-light;


//@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Gantari&display=swap');

// Fonts
$path-to-fonts:                             'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap';
$font-family-sans-serif:                    'Montserrat', sans-serif;

// Shadows
$box-shadow-sm:                             0 .275rem .75rem -.0625rem rgba($gray-900, .06),
                                            0 .125rem .4rem -.0625rem rgba($gray-900, .03);
$box-shadow:                                0 .275rem 1.25rem rgba($gray-900, .4),
                                            0 .25rem .5625rem rgba($gray-900, .25);
$box-shadow-lg:                             0 .3rem 1.525rem -.375rem rgba($gray-900, .1),
                                            0 .25rem .8125rem -.125rem rgba($gray-900, .06);
$box-shadow-inset:                          inset 0 0 0 transparent;


// Links
$link-color:                                rgba($primary, 80%);
$link-decoration:                           none;
$link-hover-color:                          $primary;
$link-hover-decoration:                     none;
$link-transition:                           color .2s ease-in-out;
$emphasized-link-hover-darken-percentage:   0%;

// Breadcrumbs
$breadcrumb-font-size:                      0.75rem;
//$breadcrumb-font-weight:                    $font-weight-medium;
$breadcrumb-item-padding-x:                 .425rem;

// Navbar
$navbar-nav-link-padding-x:                 .675rem !default;

// Cards
//$card-dark-mode-bg:                         $body-dark-mode-bg;
$card-dark-mode-bg:                         $gray-dark;


// Offcanvas
$offcanvas-dark-mode-bg-color:              $gray-dark;

// Modal
$modal-dark-mode-content-bg:                $gray-dark;

// List groups
$list-group-item-sm-padding-y:                 $spacer * .5;
$list-group-item-sm-padding-x:                 $spacer;

// Accordion
$accordion-dark-mode-bg:                    $gray-dark;



// Legend indicator
$legend-indicator-bg-color:                                 $gray-400;
$legend-indicator-border-radius:                            $border-radius;
$legend-indicator-width:                                    .5rem;
$legend-indicator-height:                                   $legend-indicator-width;
$legend-indicator-margin-y:                                 .5rem;
$legend-indicator-margin-x:                                 .4375rem;

//$nav-link-dark-mode-active-color:           $zenon-green;
