//
// Theme Components
// --------------------------------------------------
//
html {
    scroll-behavior: smooth;
}
body {
    background: #181819;
}

.svg-icon {
    display: inline-block;

    svg {
        display: inline-block;
    }

    use,
    path,
    g {
        fill: inherit;
    }
}

// Select bg fix
.dark-mode .form-select { background-color: #1E1D1D; }


.input-group-lg {
    .input-group-text {
        border-width: 2px;
    }
    .form-control {
        border-width: 2px;
    }
}

pre {

    @include box-shadow($input-focus-box-shadow);

    .json-key {
        color: #C792EA;
    }

    .json-string {
        color: #C3E88D;
    }

    .json-number, .json-boolean, .json-null {
        color: #F78C6C;
    }
}
